@page "/familymembers"
@using UI.Models;
@using Task = System.Threading.Tasks.Task;
@using Newtonsoft.Json;
@inject HttpClient httpClient;

<h3>FamilyMembers</h3>

@if(familyMembers == null) {
    <h4>Loading...</h4>
} else {
    @foreach(var member in familyMembers) {
        <div class="row">
            <div class="col-lg-12 well">
                <strong>@member.PreferredName</strong><br />
                Birthday: @member.DateOfBirth.ToString("MM/dd/yyyy")
                <hr />
            </div>
        </div>
    }
}

@code {
    private List<FamilyMember> familyMembers;

    protected override async Task OnInitializedAsync() {
        var response = await httpClient.GetAsync("FamilyMembers");
        if(response.IsSuccessStatusCode) {
            familyMembers = JsonConvert.DeserializeObject<List<FamilyMember>>(await response.Content.ReadAsStringAsync());
        }
    }
}
