@model FamilyScoreboard.ViewModels.Chores

@{
    ViewData["Title"] = "Chores";
}

<div class="col-lg-12">
    <div class="row">
        @foreach (var chore in Model.ChoreList) {
            <div class="col-lg-4 card">
                <div class="card-header">@chore.Name</div>
                <div class="card-body">@chore.Description</div>
                <div class="card-footer">
                    Pts: @chore.PointValue
                    <span class="float-right">
                        <a asp-action="Remove" asp-route-id="@chore.Id"><i class="far fa-trash-alt"></i></a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<br />
<hr />

<a id="showFormButton" class="btn btn-primary" onclick="toggleAddChoreForm()">Add New Chore <i class="fa fa-plus"></i></a>
<div id="addChoreFormWrapper" style="display: none" class="row">
    <div class="col-lg-8">
        <form asp-controller="Chore" method="post" asp-action="Add">
            <div class="row form-group">
                <div class="col-sm-3">
                    <label asp-for="newChoreName" class="col-form-label"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="newChoreName" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3">
                    <label asp-for="newChoreDescription" class="form-label"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="newChoreDescription" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3">
                    <label asp-for="newChorePointValue" class="col-form-label"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="newChorePointValue" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add</button>
        </form>
    </div>
    <a id="hideFormButton" class="btn btn-primary" onclick="toggleAddChoreForm()">Hide Form <i class="fa fa-minus"></i></a>
</div>

<script>
    function toggleAddChoreForm() {
        var form = document.getElementById('addChoreFormWrapper');
        toggleVisibilty(form);

        var showFormButton = document.getElementById('showFormButton');
        toggleVisibilty(showFormButton);
    }
    function toggleVisibilty(element) {
        if (element.style.display === "none") {
            element.style.display = "inline";
        } else {
            element.style.display = "none";
        }
    }
</script>