@page "/"

<h1>Family Scoreboard</h1>

<p>This would be a great spot for a dashboard.</p>
<p>Some cool metrics to include would be a leaderboard sortable by week/month/year scores.</p>
<p>Maybe include a list of tasks that haven't been completed in a while</p>
<p>Publicly shame family members that aren't pulling their weight?</p>
